table {
  width: 50%;
}

td {
  width: 10%;
  border: 2px solid sandybrown;
  padding: 50px;

  background-color: bisque;

  text-align: center;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}
